<div class="languageContainer">
  <div class="btn-group btn-group-sm">
    <span class="sep"></span>
    <button
      type="button"
      class="btn btn-sm btn-outline-secondary"
      (click)="changeLanguage('ory')"
      [class.active]="translateService.currentLang === 'ory'"
    >
      ଓଡ଼ିଆ
    </button>
    <button
      type="button"
      class="btn btn-sm btn-outline-secondary"
      (click)="changeLanguage('en')"
      [class.active]="
        !translateService.currentLang || translateService.currentLang === 'en'
      "
    >
      En
    </button>
  </div>
</div>
<div [ngClass]="{ header: 1, banner: isHomePage, bannerInner: !isHomePage }">
  <header>
    <div class="row">
      <div class="col-sm-2 logo">
        <a routerLink="/">
          <img src="assets/images/logo.png" alt="logo" />
        </a>
      </div>
      <div class="col-sm-8">
        <div class="top-menu">
          <!--nav-- class="navbar navbar-expand-lg">
            <a
              routerLink="/"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              >{{ "home" | translate }}</a
            >
            @for( topMenu of menus;track $index;let iI=$index) {
            <ng-template #nosubmenuItem>
              <a
                [routerLink]="topMenu.link"
                routerLinkActive="active"
                mat-button
              >
                {{ topMenu.name | translate }}
              </a>
            </ng-template>
            <a
              *ngIf="topMenu.subMenu; else nosubmenuItem"
              routerLinkActive="active"
              mat-button
              [matMenuTriggerFor]="submenu"
            >
              {{ topMenu.name | translate }}

              <mat-menu #submenu="matMenu" class="top_submenu">
                @for( subMenu of topMenu.subMenu;track $index;let iI=$index) {
                <button
                  mat-menu-item
                  [routerLink]="topMenu.link + subMenu.link"
                  routerLinkActive="active"
                >
                  {{ subMenu.name | translate }}
                </button>
                }
              </mat-menu>
            </a>
            }
            <button
              class="navbar-toggler"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbarTogglerDemo01"
              aria-controls="navbarTogglerDemo01"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
            </button>
          </nav-->
          <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
              <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarTogglerDemo01"
                aria-controls="navbarTogglerDemo01"
                aria-expanded="false"
                aria-label="Toggle navigation"
              >
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a
                      class="nav-link"
                      mat-button
                      routerLink="/"
                      routerLinkActive="active"
                      [routerLinkActiveOptions]="{ exact: true }"
                      >Home</a
                    >
                  </li>
                  @for( topMenu of menus;track $index;let iI=$index) {
                  <ng-template #nosubmenuItem>
                    <a
                      [routerLink]="topMenu.link"
                      routerLinkActive="active"
                      mat-button
                    >
                      {{ topMenu.name | translate }}
                    </a>
                  </ng-template>
                  <li class="nav-item">
                    <a
                      *ngIf="topMenu.subMenu; else nosubmenuItem"
                      routerLinkActive="active"
                      mat-button
                      [matMenuTriggerFor]="submenu"
                      class="nav-link"
                    >
                      {{ topMenu.name | translate }}

                      <mat-menu #submenu="matMenu" class="top_submenu">
                        @for( subMenu of topMenu.subMenu;track $index;let
                        iI=$index) {
                        <button
                          mat-menu-item
                          [routerLink]="topMenu.link + subMenu.link"
                          routerLinkActive="active"
                        >
                          {{ subMenu.name | translate }}
                        </button>
                        }
                      </mat-menu>
                    </a>
                  </li>
                  }
                </ul>
              </div>
            </div>
          </nav>
        </div>
      </div>
      <div class="col-sm-2 d-none d-lg-block">
        <div class="right-menu">
          <div class="row">
            <!--div class="col-xl-2">
              <a class="notificationLink">
                <fa-icon [icon]="bellIcon"></fa-icon>
              </a>
            </div-->
            <div class="col-xl-6">
              <a routerLink="/admin">
                <button class="btn btn-light d-none d-lg-block">Login</button>

                <fa-icon
                  class="d-block d-lg-none signin"
                  [icon]="signin"
                ></fa-icon>
              </a>
            </div>
            <div class="col-xl-6">
              <button class="btn btn-primary d-none d-lg-block">
                Register
              </button>
              <fa-icon
                class="d-block d-lg-none signup"
                [icon]="signup"
              ></fa-icon>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- <div class="logo">
      <a routerLink="/">
        <img src="assets/images/logo.png" alt="logo" />
      </a>
    </div>
    <nav>
      <a
        routerLink="/"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >{{ "home" | translate }}</a
      >
      @for( topMenu of menus;track $index;let iI=$index) {
      <ng-template #nosubmenuItem>
        <a [routerLink]="topMenu.link" routerLinkActive="active" mat-button>
          {{ topMenu.name | translate }}
        </a>
      </ng-template>
      <a
        *ngIf="topMenu.subMenu; else nosubmenuItem"
        routerLinkActive="active"
        mat-button
        [matMenuTriggerFor]="submenu"
      >
        {{ topMenu.name | translate }}

        <mat-menu #submenu="matMenu" class="top_submenu">
          @for( subMenu of topMenu.subMenu;track $index;let iI=$index) {
          <button
            mat-menu-item
            [routerLink]="topMenu.link + subMenu.link"
            routerLinkActive="active"
          >
            {{ subMenu.name | translate }}
          </button>
          }
        </mat-menu>
      </a>
      }

      <div class="btn-group btn-group-sm">
        <span class="sep"></span>
        <button
          type="button"
          class="btn btn-sm btn-outline-secondary"
          (click)="changeLanguage('ory')"
          [class.active]="translateService.currentLang === 'ory'"
        >
          ଓଡ଼ିଆ
        </button>
        <button
          type="button"
          class="btn btn-sm btn-outline-secondary"
          (click)="changeLanguage('en')"
          [class.active]="
            !translateService.currentLang ||
            translateService.currentLang === 'en'
          "
        >
          English
        </button>
      </div>
    </nav>
    <div class="right-menu">
      <a class="notificationLink">
        <fa-icon [icon]="bellIcon"></fa-icon>
      </a>
      <button class="btn btn-light">Login</button>
      <button class="btn btn-primary">Register</button>
    </div> -->
  </header>
</div>
