<mat-sidenav-container class="sidenav-container">
    <mat-sidenav mode="side" opened class="sidenav">
      <!-- <mat-toolbar color="primary">Data Entry</mat-toolbar> -->
       <app-adminheader></app-adminheader>
      <mat-nav-list>
        <a mat-list-item
            *ngFor="let link of navLinks"
            [routerLink]="link.path"
            routerLinkActive="active-link"
            [routerLinkActiveOptions]="{ exact: true }">
          {{link.label}}
        </a>
   
      </mat-nav-list>
    </mat-sidenav>
  
    <mat-sidenav-content class="content">
      <div class="buttonAlign">
          <button *ngIf="showLogout" mat-icon-button matTooltip="Logout" (click)="logout()" class="buttonStyle">
              <mat-icon>logout</mat-icon>
          </button>
      </div>
      <!-- <mat-toolbar color="primary"></mat-toolbar> -->
      <div class="content-body">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>