<div class="content_topgape container py-2 px-4 border-secondary">
  <!-- border align-middle  text-bg-secondary text-center -->
  <!--h2>Sri Sathya Sai Organization Odisha {{ "wings" | translate }}</h2>
  <h1>Coming soon</h1-->

  <div class="col text-grey-blue">
    <h1 class="h1 text-darkblue ff-source-serif-semi-bold border-heading">
      One Legacy, a million stories
    </h1>
    <p>
      Sri Sathya Sai Baba showed to humanity the royal path to realise one's
      divine nature, respecting the universal spiritual teachings common to all
      religions. The selfless and pristine love shown naturally and
      spontaneously by Sri Sathya Sai Baba attracted thousands of people daily
      from all parts of the world. His greatest miracle, recognised by His
      followers, is the transformation of the individual.
    </p>
    <p>
      His mission, while recognising the validity of all religious traditions,
      goes beyond religiosity, and helps one realise his or her innate divinity,
      latent in every human being. It ensures that the values of
      <b>Truth, Right Conduct, Peace, Love and Non-Violence</b> are preserved
      and nurtured in every human endeavour and relationship. Selfless service
      to our fellowman and living in harmony with nature are the means
      exemplified by Sri Sathya Sai Baba to effectuate this end.
    </p>
    <p>
      The Sri Sathya Sai Central Trust was set up by Sri Sathya Sai Baba to
      provide the necessary foundation, structure and guidelines for His
      egalitarian mission.
      <b
        >Sri Sathya Sai is a divine legacy in the form of His life, His works of
        selfless service and His message, that millions were fortunate to
        inherit.</b
      >
      This inheritance inspires in humanity, today, a greater responsibility to
      strive to realise genuine peace, harmony and dignity in themselves, their
      communities and the world at large.
    </p>
    <p>
      The Sri Sathya Sai Central Trust was founded in 1972 by Sri Sathya Sai
      Baba as a public charitable trust with the objectives of extending relief
      to the poor, including education and health, and any other objects of
      general public utility, without any discrimination.
    </p>
  </div>
</div>
