.user-form {
  max-width: 420px;
  margin: 30px auto;
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  background: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.full-width {
  width: 100%;
}

h2 {
  text-align: center;
  margin-bottom: 10px;
}

.form-actions {
  display: flex;
  justify-content: center;
}

.mat-mdc-form-field {
  margin-bottom: 20px !important;
}

.success-message {
  margin-left: 15px;
  color: green;
  font-weight: 500;
}

.error-message {
  margin-left: 15px;
  color: orangered;
  font-weight: 500;
}

.radio-label {
  font-weight: 500;
  display: block;
  margin-bottom: 8px;
}

mat-radio-button {
  display: block;
  margin: 4px 0;
}

.card-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}