<mat-card class="register-card">
  <h2>Add Data Admin</h2>
<form [formGroup]="userForm" (ngSubmit)="onSubmit()" class="user-form">

  

  <!-- Username -->
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Username</mat-label>
    <input matInput formControlName="username" placeholder="Enter username" required>
    <mat-error *ngIf="username?.hasError('required')">Username is required</mat-error>
    <mat-error *ngIf="username?.hasError('minlength')">At least 3 characters required</mat-error>
  </mat-form-field>

  <!-- Email -->
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Email</mat-label>
    <input matInput type="email" formControlName="email" placeholder="Enter email" required>
    <mat-error *ngIf="email?.hasError('required')">Email is required</mat-error>
    <mat-error *ngIf="email?.hasError('email')">Enter a valid email address</mat-error>
  </mat-form-field>

  <!-- Password -->
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Password</mat-label>
    <input matInput 
           [type]="hidePassword ? 'password' : 'text'" 
           formControlName="password"
           required>
    <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" type="button">
      <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
    </button>
    <mat-error *ngIf="password?.hasError('required')">Password is required</mat-error>
    <mat-error *ngIf="password?.hasError('minlength')">Minimum 6 characters required</mat-error>
    <mat-error *ngIf="password?.hasError('weakPassword')">
      Must contain at least 1 uppercase letter and 1 number
    </mat-error>
  </mat-form-field>

  <!-- Confirm Password -->
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Confirm Password</mat-label>
    <input matInput 
           [type]="hideConfirmPassword ? 'password' : 'text'" 
           formControlName="confirmPassword"
           (blur)="userForm.updateValueAndValidity()" 
           required>
    <button mat-icon-button matSuffix (click)="hideConfirmPassword = !hideConfirmPassword" type="button">
      <mat-icon>{{ hideConfirmPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
    </button>
    <mat-error *ngIf="confirmPassword?.hasError('required')">Confirm Password is required</mat-error>
    <mat-error *ngIf="userForm.hasError('passwordsMismatch')">
      Passwords do not match
    </mat-error>
  </mat-form-field>

  <div class="form-actions">
    <button mat-raised-button color="primary" type="submit">Create User</button>
  </div>
</form>
</mat-card>
