<div class="bottom">
  <div class="row">
    <div class="col-12">
      <hr />
    </div>

    <div class="col-xl-3 col-sm-3 noShow d-none d-sm-block d-flex flex-column justify-content-center align-items-center text-center">
      <a
        href="#/organization/messageFromStatePresident"
        class="sp-logo d-flex flex-column align-items-center text-decoration-none link-dark hover-opacity-75 transition"
      >
        <img
          src="assets/images/spdesk.png"
          alt="SP desk"
          class="img-fluid rounded-3 shadow-sm mb-2"
          style="width: 220px;"
        />
        <h6 class="mb-0">From State President's Desk</h6>
      </a>
    </div>
    <div class="col-xl-8 col-sm-4">
      <div class="footer-menu">
        <div class="row">
          <div class="col-6"><b>Useful Links</b></div>
          <div class="col-6"><h5></h5></div>
          <div class="col-6">
            <!-- <a target="_blank" href="https://www.sssgh.org/">SSS Hospital </a> -->
            <a target="_blank" href="https://www.ssssoindia.org/"
              >SSSSO India</a
            >
            <a target="_blank" href="https://www.srisathyasai.org/"
              >SSS Central Trust</a
            >
            <a target="_blank" href="https://www.srisathyasaipublications.com/"
              >SSS Publications</a
            >
            <a target="_blank" href="http://www.sssihl.edu.in/"
              >SSS Institute of Higher learning </a
            >
            <a target="_blank" href="https://prasanthigram.sssihms.org/"
              >SSS Institute of Higher Medical Sciences, Puttaparthi</a
            >
            <a target="_blank" href="https://whitefield.sssihms.org/"
              >SSS Institute of Higher Medical Sciences-Bangalore
            </a>
          </div>
          <div class="col-6">
            <a target="_blank" href="https://www.sssmediacentre.org/"
              >SSS Media centre</a
            >
            <a target="_blank" href="https://www.sssmh.org.in/"
              >SSS Mobile Hospital</a
            >
            <a target="_blank" href="https://www.saiconnect.app">Sai Connect</a>
            <a target="_blank" href="https://liquidlove.ssssoindia.org/"
              >Liquid Love</a
            >
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-1 col-sm-4 footer-button">
      <!--<button class="btn btn-primary">Feedback</button>
      <button class="btn btn-outline-dark" routerLink="/admin">Login</button>-->
    </div>
    <div class="col-12">
      <hr />
    </div>
    <div class="col-xl-8 col-md-12 copyright">
      <div class="footer-link">
        <a routerLink="/Sri_Sathya_Sai/introduction">About Us</a> |
        <a routerLink="ContactUs">Contact Us</a> |
        <a routerLink="PrivacyPolicy">Privacy Policy</a> |
        <a routerLink="Trademarks">Trademarks</a> |
        <a routerLink="Disclaimer">Disclaimer</a>
      </div>
      &copy; 2025 Sri Sathya Sai Seva Organisations, Odisha . All Rights
      Reserved Version 1.0.4
    </div>
    <div class="col-xl-4 col-md-12 footer-social">
      <div class="footer-social-text">Follow us:</div>
      <div class="footer-social-link">
        <a
          href="https://www.facebook.com/share/176MySg1bi/?mibextid=wwXIfr"
          target="_blank"
        >
          <!-- <fa-icon [icon]="faFacebook"></fa-icon> -->
          <img src="assets/images/social_media/facebook logo_icon.svg" />
        </a>
        <a href="" target="_blank">
          <!-- <fa-icon [icon]="faTwitter"></fa-icon> -->
          <img src="assets/images/social_media/twitter logo_icon.svg" />
        </a>
        <a
          href="https://www.instagram.com/sathyasaiodisha?igsh=YnFmZThiNzJ5bHl4"
          target="_blank"
        >
          <!-- <fa-icon [icon]="faInstagram"></fa-icon> -->
          <img src="assets/images/social_media/instagram logo_icon.svg" />
        </a>
        <a
          href=" https://youtube.com/@sathyasaiodisha?si=pjmrBjRsGmFvrSMW "
          target="_blank"
        >
          <!-- <fa-icon [icon]="faYoutube"></fa-icon> -->
          <img src="assets/images/social_media/youtube logo_icon.svg" />
        </a>
        <a href="" target="_blank">
          <!-- <fa-icon [icon]="faLinkedin"></fa-icon> -->
          <img src="assets/images/social_media/linkedin logo_icon.svg" />
        </a>
      </div>
    </div>
  </div>
</div>
