<div class="bottom">
  <div class="row">
    <div class="col-12">
      <hr />
    </div>

    <div class="col-xl-8 col-md-12 noShow">
      <div class="footer-logo">
        <img src="assets/images/logo.png" alt="logo" />
      </div>
    </div>
    <div class="col-xl-3 col-md-12">
      <div class="footer-menu">
        <div class="row">
          <div class="col-12"><h5>Useful Links</h5></div>
          <!-- <div class="col-6"><h5>Community</h5></div> -->
          <div class="col-12">
            <a routerLink="/">Home</a>
            <a routerLink="/Sri_Sathya_Sai/introduction">About Us</a>
            <a routerLink="ContactUs">Contact Us</a>
            <a href="#">Privacy Policy</a>
            <a href="#">Terms & Conditions</a>
          </div>
          <!-- <div class="col-6">
            <a href="#">Home</a>
            <a href="#">About Us</a>
            <a href="#">Contact Us</a>
            <a href="#">Privacy Policy</a>
            <a href="#">Terms & Conditions</a>
          </div> -->
        </div>
      </div>
    </div>
    <div class="col-xl-1 col-md-12 footer-button">
      <button class="btn btn-primary">Register</button>
      <button class="btn btn-outline-dark">Login</button>
    </div>
    <div class="col-12">
      <hr />
    </div>
    <div class="col-xl-8 col-md-12 copyright">
      &copy; 2025 Sri Sathya Sai Trust, Odisha . All Rights Reserved Version
      1.0.4
    </div>
    <div class="col-xl-4 col-md-12 footer-social">
      <div class="footer-social-text">Follow us:</div>
      <div class="footer-social-link">
        <a
          href="https://www.facebook.com/share/176MySg1bi/?mibextid=wwXIfr"
          target="_blank"
        >
          <fa-icon [icon]="faFacebook"></fa-icon>
        </a>
        <a href="" target="_blank">
          <fa-icon [icon]="faTwitter"></fa-icon>
        </a>
        <a
          href="https://www.instagram.com/sathyasaiodisha?igsh=YnFmZThiNzJ5bHl4"
          target="_blank"
        >
          <fa-icon [icon]="faInstagram"></fa-icon>
        </a>
        <a
          href=" https://youtube.com/@sathyasaiodisha?si=pjmrBjRsGmFvrSMW "
          target="_blank"
        >
          <fa-icon [icon]="faYoutube"></fa-icon>
        </a>
        <a href="" target="_blank">
          <fa-icon [icon]="faLinkedin"></fa-icon>
        </a>
      </div>
    </div>
  </div>
</div>
