<div class="bottom">
  <div class="row">
    <div class="col-12">
      <hr />
    </div>

    <div class="col-xl-4 col-sm-4 noShow d-none d-sm-block">
      <div class="footer-logo">
        <img src="assets/images/logo.png" alt="logo" />
      </div>
    </div>
    <div class="col-xl-7 col-sm-4">
      <div class="footer-menu">
        <div class="row">
          <div class="col-6"><h5>Useful Links</h5></div>
          <div class="col-6"><h5></h5></div>
          <div class="col-6">
            <a target="_blank" href="https://www.sssgh.org/">SSS Hospital </a>
            <a target="_blank" href="https://www.ssssoindia.org/">SSSO India</a>
            <a target="_blank" href="https://www.srisathyasai.org/"
              >SSSO Trust</a
            >
            <a target="_blank" href="https://www.srisathyasaipublications.com/"
              >Book and trust</a
            >
            <a target="_blank" href="http://www.sssihl.edu.in/"
              >Higher learning </a
            >
          </div>
          <div class="col-6">
            <a target="_blank" href="https://prasanthigram.sssihms.org/"
              >SSS Institute of Higher Medical Sciences </a
            >
            <a target="_blank" href="https://www.sssmediacentre.org/"
              >Media centre</a
            >
            <a target="_blank" href="https://whitefield.sssihms.org/"
              >SSS Institute of Higher Medical Sciences-Bangalore
            </a>
            <a target="_blank" href="https://www.sssmh.org.in/"
              >SSS Mobile Hospital</a
            >
            <a target="_blank" href="https://www.saiconnect.app">Sai Connect</a>
            <a target="_blank" href="https://liquidlove.ssssoindia.org/"
              >Liquid Love</a
            >
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-1 col-sm-4 footer-button">
      <button class="btn btn-primary">Register</button>
      <button class="btn btn-outline-dark" routerLink="/admin">Login</button>
    </div>
    <div class="col-12">
      <hr />
    </div>
    <div class="col-xl-8 col-md-12 copyright">
      <div class="footer-link">
        <a routerLink="/Sri_Sathya_Sai/introduction">About Us</a> |
        <a routerLink="ContactUs">Contact Us</a> |
        <a routerLink="PrivacyPolicy">Privacy Policy</a> |
        <a routerLink="Trademarks">Trademarks</a> |
        <a routerLink="Disclaimer">Disclaimer</a>
      </div>
      &copy; 2025 Sri Sathya Sai Seva Organisations, Odisha . All Rights
      Reserved Version 1.0.4
    </div>
    <div class="col-xl-4 col-md-12 footer-social">
      <div class="footer-social-text">Follow us:</div>
      <div class="footer-social-link">
        <a
          href="https://www.facebook.com/share/176MySg1bi/?mibextid=wwXIfr"
          target="_blank"
        >
          <!-- <fa-icon [icon]="faFacebook"></fa-icon> -->
          <img src="assets/images/social_media/facebook logo_icon.svg" />
        </a>
        <a href="" target="_blank">
          <!-- <fa-icon [icon]="faTwitter"></fa-icon> -->
          <img src="assets/images/social_media/twitter logo_icon.svg" />
        </a>
        <a
          href="https://www.instagram.com/sathyasaiodisha?igsh=YnFmZThiNzJ5bHl4"
          target="_blank"
        >
          <!-- <fa-icon [icon]="faInstagram"></fa-icon> -->
          <img src="assets/images/social_media/instagram logo_icon.svg" />
        </a>
        <a
          href=" https://youtube.com/@sathyasaiodisha?si=pjmrBjRsGmFvrSMW "
          target="_blank"
        >
          <!-- <fa-icon [icon]="faYoutube"></fa-icon> -->
          <img src="assets/images/social_media/youtube logo_icon.svg" />
        </a>
        <a href="" target="_blank">
          <!-- <fa-icon [icon]="faLinkedin"></fa-icon> -->
          <img src="assets/images/social_media/linkedin logo_icon.svg" />
        </a>
      </div>
    </div>
  </div>
</div>
