.table-container {
    max-width: 100%;
    min-width: 80%;
    border-collapse: separate;
    border-spacing: 0 8px;
    margin: 20px;
 }

.formfield {  
  margin: 20px;
 }

.buttonfield {  
  margin-left: 20px;
}

.success-message {
  margin-left: 15px;
  color: green;
  font-weight: 500;
}

.error-message {
  margin-left: 15px;
  color: orangered;
  font-weight: 500;
}